<app-menu></app-menu>
<div class="p-grid">
  <div class="p-col-12">
    <h1>List Breeds</h1>
  </div>
  <div class="p-col-12">
    <p-table #dt2 [value]="dogs" dataKey="breed" [rowsPerPageOptions]="[10,20]" [paginator]="true" [rows]="10" [responsive]="true"
     [scrollable]="true" scrollHeight="500px">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="name">Name <p-sortIcon field="breed"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th style="width: 3rem"></th>
          <th>
            <p-columnFilter type="text" field="breed" (input)="filterResults($event.target.value)"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-breed let-expanded="expanded">
        <tr>
          <td [style]="{'width': '3%'}">
            <button type="button" pButton pRipple [pRowToggler]="breed"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{breed['breed']}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-breed>
        <tr>
          <td colspan="7">
            <div class="p-p-3">
              <p-table [value]="breed.subbreed" dataKey="subbreed">
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="id">SubBreed <p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th style="width: 4rem"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-subbreed>
                  <tr>
                    <td>{{subbreed}}</td>
                    <td>
                      <p-button type="button" icon="pi pi-search" (click)="showDialog()"></p-button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="6">There are no subbreed for this breed yet.</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<p-dialog header="Gallery" [(visible)]="display" [style]="{'width': '25%'}">
  <p-carousel [value]="randomImages" [autoplayInterval]="3000" [circular]="true" [numVisible]="1"
    [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
      <h5>Gallery</h5>
    </ng-template>
    <ng-template let-rand pTemplate="item">
      <div class="p-mb-3">
        <img src="{{rand}}" class="image" />
      </div>
    </ng-template>
  </p-carousel>
</p-dialog>
